{% extends 'base_generic.html' %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'board-home-view' %}">讨论板</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board-topics' board.pk %}">{{ board.lesson }}</a></li>
    <li class="breadcrumb-item active">新建主题帖</li>
{% endblock %}


{% block content %}

    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'discussboard/form.html' %}
        <button type="submit" class="btn btn-success">确认发帖</button>
    </form>

{% endblock %}